@import 'rupture'
@import "variable/_function.styl"
@import "variable/_ie.styl"
@import "variable/_helper.styl"
@import "variable/_default.styl"
@import "variable/config/_color.styl"
@import "variable/config/_typography.styl"
@import "variable/config/_btn.styl"
@import "variable/config/_input.styl"
@import "../module/**/*"

body
	@extend .type--main
	font-family $v-font
	color $main-text-color
	line-height 1.2
	letter-spacing 0.01em


.main-cont
	center(1260px,10px)

.main-cont--sm
	center(1000px,10px)

.page
	f()
	fl()
	min-height 100vh

.content
	padding: 30px 0 50px 0
	flex-grow 1

.content--mid
	flex(mid)

// animate top menu
@keyframes slideInDown
	from
		transform: translate3d(0, -100%, 0)
		visibility: visible;
	to
		transform: translate3d(0, 0, 0)

.shrink
	position fixed!important
	top 0
	left 0
	background white
	width 100%
	margin 0
	animation:  slideInDown  1s 1 ease-in-out;
	z-index 100
	border-bottom 1px solid #f3f3f3
	.header-top-wrap
		+above(1025px)
			display none
	.header-menu
		.logo
			flex(mid)
			margin-right: 10px
			img
				size 45px
	.header-nav__el
		margin-right: 10px
// animate top menu === end

// error
.page-error
	flex(mid)
	fl()
	height: 100%
.page-error__title
	@extend .type--xl
	margin-bottom: 30px
	font-weight: 700
	color $gray
.page-error__img
	margin-bottom: 30px
.page-error__text
	@extend .type--md
	color $gray
	margin-bottom: 30px
.page-error__get
	@extend .btn--md
	@extend .btn--mark
// error === end

// modal
.modal-layer
	width: 100%
	height: 100vh
	position: fixed
	z-index 1000
	top 0
	left 0
	visibility: hidden
	transition all 1s // duration for fade
	opacity 0

.modal-layer-show
	visibility: visible
	opacity 1

.modal-cont
	width: 100%
	height: 100%
	position: relative
	max-height 100%
	overflow: auto

.modal-filter
	position: absolute
	top: 0
	left: 0
	background: #18191da1
	width: 100%
	height: 100vh
	min-height 100vh

.modal
	+below(768px)
		width: 100%
		box-shadow 0 0 0
	transform scale(.9)
	position: absolute
	opacity 0
	transition transform .6s, opacity .8s
	width 420px
	z-index -1
	left -9999px
	.order__row
		margin-bottom: 20px
		border-bottom 0

.modal--xl
	+below(1300px)
		width: 100%
		max-width: 100%
	width: 1300px
	max-width: 1300px

.modal--md
	+below(900px)
		width: 100%
		max-width: 100%
	width: 900px
	max-width: 900px
// area
.modal-content--clear
	padding: 0!important
.modal-close--mark
	background: $mark
	z-index 100
	flex(mid)
	size 35px
	top 0
	right: 0
	.icon
		size 12px

// modal area

.area
	+below(768px)
		fw()
	f()
	.order-cont__el
		+below(640px)

			min-height initial
		min-height 400px
		position relative
	.order-cont__el--up
		z-index 100
	.mCSB_inside > .mCSB_container
		margin-right: 0
.order-cont__el
	width: 100%

.area-tool
	+below(768px)
		width: 100%
	width: 500px
.area-map
	+below(768px)
		width: 100%
		height: 400px
	width calc(100% - 400px)
	position relative
	flex(mid)
	background: $snow

.area-comment
	padding: 10px 20px
	background: $dark
	color #adadad
	font-weight: 700
	span
		color white
.area-tool-list
	+below(640px)
		max-height 100%
	max-height: 600px
	overflow hidden
	position relative
.area-map__el
	position absolute
	width: 100%
	height: 100%
	top 0
	left 0
	background: $gray-light
.area-tool__title
	font-weight: 700
.area-tool-info
	padding: 30px

.area-el
	padding: 20px
	f()
	tr()
	cp()
	border-bottom 1px solid $border-color
	&:hover
		background: #f5f5f5
		.area-el-title
			color darken($mark,15)
	&:last-child
		border-bottom 0
.area-el--active
	color white
	background: $mark!important
	.area-el-row
		span
			color white
			opacity: .6
	.area-el-title
		color white
	.area-el__numb
		background: darken($mark,10)
.area-el__img
	size 80px
	margin-right: 20px
	br(10px)
	bg-full()
.area-el-cont
	width calc(100% - 80px)
.area-el-title
	tr()
	font-weight: 700
	letter-spacing 0.6px
	margin-bottom: 10px
.area-el-row
	font-size: 14px
	margin-bottom: 5px
	span
		color $gray
		display inline-block
		margin-right: 5px
	&:last-child
		margin-bottom: 0

.area-search
	+below(768px)
		min-height 100%
	min-height 500px

.nice-scroll
	z-index 1

.area-msg-layer
	position absolute
	top 0
	left 0
	width: 100%
	height: 100%
	flex(mid)
	.btn--md
		+below(640px)
			font-size: 12px
			padding: 10px
.area-msg__text
	margin-bottom: 20px
	text-align center
	@extend .type--md
	font-weight: 700
	span
		display block
		font-size: 14px
		margin-top: 10px
		font-weight: 400
	p
		margin-bottom: 10px
.area-msg
	+below(768px)
		width: 300px
	f()
	fl()
	br(10px)
	padding: 20px
	width 500px
	background: white
.area-msg--sm
	+below(640px)
		width: 70%
		max-width 230px
	width: 350px

.area-msg-nav
	flex(between)
	.btn--sm
		width: 48%

// area === end


.modal-content
	+below(640px)
		height: 100%
		padding: 20px
		overflow-y scroll
		width: 95%!important
		margin: 20px auto
	background: white
	position: relative
	padding: 60px 45px 40px 45px
	br(20px)

.modal__show
	max-height 100%
	opacity 1
	transform scale(1)
	position: relative
	z-index 1000
	left initial
	transition transform .6s, opacity .8s
.modal-close
	+below(768px)
		top 12px
		right 12px
	position: absolute
	top: 10px
	right: 10px
	cp()
	size 40px
	br(20px)
	flex(mid)
	z-index 10
	background: #f8f8f8
	&:hover
		.icon
			opacity: 1
	.icon
		tr()
		size 12px
		fill black
		opacity:.3

.modal-hide-animation
	transform scale(.9)
	opacity 0
	transition transform .6s, opacity .8s
.modal-open
	overflow: hidden
	overflow-y: scroll
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	width: 100%

.modal-wrap
	position: fixed
	width: 100%
	height: 100%
	overflow-y auto
	flex(mid)

.modal-title
	+below(768px)
		font-size: 20px
	margin-bottom: 20px
	text-align: center
	@extend .type--md
	font-weight: 700

.modal-text
	+below(768px)
		width: 100%
		font-size: 12px
	text-align: center
	margin: 20px auto
	//width: 80%
	line-height: 1.6


.modal-send
	@extend .btn--md
	@extend .btn--mark
	width: 100%

.modal-foget
	cp()
	margin-bottom: 30px

.modal-account
	cp()
	margin-top: 20px

.modal-town__el
	text-align: center
	padding: 15px
	margin-bottom: 15px
	font-weight 700
	display: block
	border: 1px dotted $snow
	cp()
	br(10px)
	tr()
	&:hover
		border: 1px dotted $mark
	&:last-child
		margin-bottom: 0

.modal-content--town
	padding: 50px 0

.unworked-text
	width: 80%
	margin: 0 auto 20px auto
	line-height: 1.6
	text-align center

// modal === end

// cookie
.cookie
	position: fixed
	bottom 20px
	left 0
	width: 100%
	transform translateY(10px)
	opacity: 0
	z-index -1
	tr()
.cookie--active
	z-index 20
	opacity: 1
	transform translateY(0)
.cookie-wrap
	bsh()
	padding: 15px 20px
	br(20px)
	z-index 10
	background: white
	f()
	justify-content: space-between
	.icon
		&:hover
			fill black
		tr()
		size 14px
		margin-left: 10px
		fill $gray
		cp()
.cookie-text
	width calc(100% - 30px)
	font-size: 12px
// cookie === end

// header
.header
	+below(768px)
		border 1px solid #f3f3f3
	position: relative
.header-top-wrap
	+below(1024px)
		padding: 10px 0
	+below(640px)
		padding: 5px 0
	padding-top 15px
	background: white
//.main-cont
.header-top
	f()
	align-items: center
.logo
	+below(1024px)
		width: 150px
	+below(640px)
		margin: 0 auto
	margin-right: 3%
.logo--desktop
	+below(1024px)
		display none
.logo--mobile
	+above(1025px)
		display none
.header-info--location
	margin-right: 5%
.header-info
	+below(1280px)
		margin-right: 10px
	+below(1024px)
		width: 30%
	+below(768px)
		display none
	width: 25%
	f()
	cp()
	align-items: center
	margin-right: 3%
	.divider
		color $snow
		@extend .type--md

		display: inline-block
		margin: 0 5px
.header-info__icon
	margin-right: 10px
	flex(mid)
	.icon
		size 24px
		fill $mark

.header-info__val
	@extend .type--main
	white-space nowrap
	color $yellow
	font-weight 700
	margin-bottom: 5px
	display inline-block

.header-info__text
	color $snow
	white-space nowrap
	@extend .type--sm
.header-info--contact
	+below(768px)
		display: none


.nav
	+below(1024px)
		display: none
	f()
	margin-left: auto
.nav__el
	+below(1280px)
		font-size: 12px
	display: inline-block
	margin: 0 10px
	color $snow
	white-space nowrap
	tr(all)
	&:hover
		color $red

.header-auth
	+below(1024px)
		display: none
	f()
	cp()
	position: relative
	align-items: center
	margin-left: auto
	margin-right: 20px
	.icon
		margin-right: 10px
		size 20px
		fill  #c8c8c8
		tr()
	&:hover
		.icon
			fill $red
		span
			color $red
.header-auth--true
	.header-auth-state--false
		display: block
	.header-auth-state--true
		display: none
.header-auth-state--false
	display: none
	position: relative
	span
		tr()
.header-auth-state--true
	cp()
	span
		tr(all)
		color $gray
		&:hover
			color black

//
.slide-header-auth
	f()
	.icon
		margin-right: 10px
		size 20px
		fill $yellow
.slide-header-auth--true
	.slide-header-auth-state--false
		f()
	.slide-header-auth-state--true
		display: none
.slide-header-auth-state--false
	display: none
	position: relative
	span
		font-weight: 700
		display: block

.slide-header-auth-state--true
	cp()
	span
		tr(all)
		color $gray
		link(#f5f5f5)
		&:hover
			color black
.slide-header-auth__bonus
	padding: 3px 8px
	br(20px)
	background: $yellow
	font-weight: 500
	line-height: 1
	flex(mid)
	margin-left: 20px
	span
		color $dark
		display: inline-block
		//margin-top: -3px
		white-space nowrap

.header-menu-wrap
	+below(1024px)
		display none
		padding: 0
		border-top 1px solid #f5f5f5
	white-space nowrap
	overflow-x auto
	//border-top 1px solid #f5f5f5
	border-bottom 1px solid #f5f5f5
	padding: 10px 0
	position: relative
	overflow-y: hidden
.header-menu
	+below(1024px)
		padding: 15px 0
	align-items: stretch
	f()
	.logo
		display: none
.header-nav
	align-items: center
	f()
.header-nav__el
	margin-right: 20px
	tr()
	flex(mid)
	@extend .type--sm
	up()
	font-weight 700
	height: 100%
	padding: 16px 0
	&:hover
		color $red

.header-nav__el--active
	color $mark

.header-cont
	+below(1024px)
		display none
	f()
	width: 40%

.cart-wrap
	+below(640px)
		margin-left: 0
	f()
	cp()
	margin-left: auto
	align-items: center

.cart-wrap.slide-block-toggle--open
	display none
.cart-cost
	margin-right: 10px
	@extend .type--main
	font-weight: 700
.cart
	br(10px)
	flex(mid)
	fl()
	tr()
	position: relative
	size 50px
	border 2px solid $mark
	.icon
		size 24px
		fill $mark
		margin-left: -4px
.cart-val
	font-weight 700
	@extend .type--sm

.header-search
	+below(1280px)
		display none
	f()
	align-items center
	position relative
	margin-right: auto
	margin-left: 10px
	width: 18%
	.input
		br(10px)
		background: none
		border 1px solid transparent
		padding: 15px 15px 15px 45px
		width: 100%
		&:focus
			border 1px solid rgba(189, 189, 189, 0.4)
	.icon
		fill $mark
		size 24px
		margin-right: 15px
		position absolute
		left 10px
		top calc(50% - 12px)

// header === end

//slide menu
.head-toggle
	flex(mid)
	cp()

	margin-right: 10px
	+above(1025px)
		display: none
	.icon
		size 25px
		fill black
	.icon-close
		display: none

.slide-block-toggle--open
	.icon-close
		display: block
	.icon-open
		display: none

.slide-menu
	+above(1025px)
		display: none !important
	+below(480px)
		width: 100%
	background: $dark
	position: fixed
	height: calc(100% - 60px) //Отступ хедер
	z-index 1250
	top 60px
	left 0
	width: 320px
	transform translateX(-110%)
	tr(all)
.slide-menu--open
	transform translateX(0%)
	overflow-y: auto

.cart-wrap--mobile
	+above(1025px)
		display: none
	+below(640px)
		.cart
			size 40px
			.icon
				size 16px
			.cart-val
				font-size: 10px
	position relative

.cart-link
	+above(641px)
		display none
	position absolute
	width: 100%
	height: 100%
	top 0
	left 0
	z-index 10

.cart-wrap--desctop
	+below(1024px)
		display: none

.slide-menu-search
	f()
	align-items center
	margin-left auto
	position relative
	margin-bottom: 10px
	width: 100%
	padding: 10px 10px 0 10px
	.input
		br(10px)
		background: none
		padding: 15px 15px 15px 45px
		width: 100%
		border 1px solid rgba(189, 189, 189, 0.4)
	.icon
		fill $mark
		size 24px
		margin-right: 15px
		position absolute
		left 20px
		top calc(50% - 7px)

.slide-nav__el
	font-size: 16px
	cp()
	display block
	padding: 10px 20px
	font-weight: 700

.slide-row
	padding: 15px 20px
	.header-info
		f()
	.slide-header-auth
		f()
//slide menu  === end

// slider
.main-slider__el
	+below(640px)
		display: none
	bg-full()
	padding: 14% 5%

.main-slider
	+below(760px)
		display: none
	.slick-dots
		+below(640px)
			bottom 10px
		bottom 20px

.slick-dots
	width: 100%
	bottom -40px
	.dot
			background: white
			size 12px
			display: block
			br(3px)
			border 1px solid #e7e7e7
	.slick-active
			.dot
				border 1px solid transparent
				background: $mark
// slider === end

// icon color
.icon--pink
	fill #c9346e
.icon--red
	fill #d6362e
.icon--green
	fill #019547
.icon--violet
	fill #6421bc
.icon--mark
	fill $mark
.icon--sky
	fill #1db4aa
// icon color === end

// kind
.kind
	+below(768px)
		margin: 30px 0
	f()
	fw()
	margin-bottom: 50px
.kind__el
	f()
	align-items center
	padding: 10px 15px
	br(5px)
	border 1px dashed $border-color
	margin-right: 10px
	margin-bottom: 10px
	@extend .type--sm
	flex-grow 1
	cp()
	tr()
	&:hover
		background: $dark
		border 1px solid $dark
		span
			color white
		.icon
			fill white!important
	.icon
		size 20px
		margin-right: 5px

.kind__el.active
	background: $dark
	border 1px solid $dark
	span
		color white
	.icon
		fill white!important
// kind === end

// title
.title-row
	+below(640px)
		margin-bottom: 30px
	position: relative
	font-weight: 700
	margin-bottom: 40px
	f()
	fw()
	align-items center
	.icon
		+below(768px)
			size 25px
		+below(640px)
			display: none
		tr(all)
		size 50px
		fill $mark
		&:hover
			fill black
	.title
		+below(640px)
			width: 100%
			margin-bottom: 10px
			margin-right: 0
		margin-bottom: 0
		margin-right: 20px
		margin-top: -5px
.title
	@extend .type--xl
	margin-bottom: 40px
	font-weight: 700
	position relative
	line-height: 1

.title-back
	display block
	margin-right: 5%

.title--sm
	@extend .type--main
	font-weight: 700
	position relative
	line-height: 1
	margin-bottom: 20px

.title--md
	@extend .type--md
	font-weight: 700
	position relative
	line-height: 1
	margin-bottom: 50px

.title--lgx
	@extend .type--lgx
	font-weight: 700
	position relative
	line-height: 1
	margin-bottom: 50px

.title-val
	+below(640px)
		display none
	position absolute
	font-size: 14px
	color $gray
	top -5px
	right: -15px

.title__more
	+below(767px)
		margin-left: 0
	font-size: 12px
	link($mark)
	cp()
	font-weight: 400
	margin-left: 20px
	align-self flex-end
	color $mark
.title-back
	display block
	margin-right: 5%

// title === end

// product list
.product-cont
	+below(1024px)
		margin: 30px 0
		grid-gap 15px
		grid-template-columns: repeat(3, 1fr)
	+below(800px)
		grid-template-columns: repeat(2, 1fr)
	//flex(between)
	margin: 50px 0
	display: grid
	grid-gap 30px
	grid-template-columns: repeat(4, 1fr)
	overflow: hidden

.product-el
	tr(all)
	f()
	fl()
	cp()
	background-color #ffffff
	position: relative
	&:hover
		.product__title
			color $mark
.product-el--add
	+below(480px)
		size 20px
	size 36px
	br(5px)
	flex(mid)
	position absolute
	top: 10px
	right: 10px
	background: #373A48
	z-index 10
	.icon
		+below(480px)
			size 14px
		fill white
		size 20px

.label-wrap
	position: absolute
	top:10px
	left 10px
	z-index 10
	f()
	fl()
	align-items: flex-start
.label-el-cont
	+below(640px)
		span
			display none!important
	flex(mid)
.label-el
	+below(480px)
		font-size: 12px
		padding: 3px
	tr(all)
	cp()
	padding: 5px 10px
	br(5px)
	margin-bottom: 5px
	font-size: 12px
	background: white
	display inline-block
	.icon
		+below(480px)
			size 14px
		size 20px
	span
		display inline-block
		margin-left: 5px
.product__img
	flex(mid)
	margin-bottom: 15px
	position relative
	img
		margin: 0 auto
		tr(all)
		width: 100%

.magnify
	position absolute
	top 0
	left 0
	width: 100%
	height: 100%
	flex(mid)
	background: #111111a6
	z-index 10
	br(5px)
.magnify-row
	f()
	height: 36px
	br(3px)
	overflow hidden
	width: 95%
	margin: 0 auto
.magnify-nav
	width: 25%
	flex(mid)
	background: $mark
	.icon
		size 14px
		fill white
.magnify-val
	flex-grow 1
	text-align center
	background: white
	flex(mid)
.product__img-el
	tr(all)
	width: 100%
	height: 100%
	bg-full()
	padding: 50% 10%
.product-rating
	+below(640px)
		display none
	position absolute
	flex(mid)
	bottom 0
	left 0
	background: $dark
	padding: 8px 15px
	border-radius 0 5px 0 5px
	color white
	font-size: 14px
	.icon
		size 16px
		margin-right: 5px
		fill $mark
.product__cont
	f()
	fl()
	flex-grow 1

.product__title
	+below(480px)
		font-size: 14px
	margin-bottom: 5px
	color $dark
	tr(all)
	@extend .type--md
	font-weight 700
	display: block

.product__text
	+below(480px)
		font-size: 12px
	margin-bottom: auto
	line-height: 1.6
	tr()
	color $snow

.product-footer
	+below(480px)
		justify-content: flex-start
	flex(between)
	margin-top: 10px

.product-price
	+below(1024px)
		font-size: 24px
	+below(640px)
		font-weight: 700
		font-size: 14px
	width: 30%
	background-color #ffffff
	@extend .type--md
	font-weight 700
	white-space nowrap

.product-weight
	+below(640px)
		font-size: 12px
		margin-right: 0
		margin-left: 5px
	color #24252a
	margin-right auto

.product-add
	+below(768px)
		font-size: 12px
	+below(640px)
		display none
	cp()
	@extend .type--sm
	tr(all)
	width: 45%
	text-align: center
	@extend .btn--md
	@extend .btn--light
	flex(mid)
	height: 50px
	white-space nowrap
	&:hover
		background: $mark

.product-add-mobile
	+above(641px)
		display none
	size 32px
	br(5px)
	border 2px solid $mark
	flex(mid)
	margin-right: 10px
	.icon
		size 14px
		fill $mark


.product-incr
	+below(1200px)
		padding: 8px 5px
		.incr
			height: 30px
		.incr__nav
			size 30px
		.incr__val
			height: 30px
	flex(mid)
	width: 50%
	display: none
	height: 50px
	.incr
		width: auto
.product-footer-numb
	.product-price
		border-right: 0
	.product-incr
		display: flex
	.product-get
		display: none
// product list === end

// incr
.elements-icr-block
	.incr
		flex(mid)
		width: 100%
	width: 100%

.incr
	f()
	height 50px
	position relative
	width 160px

.incr--small
	width: 80px
	.incr__nav
		size 26px
		.icon
			size 10px
	.incr__val
		width: 25px
		font-size: 12px
		font-weight: 700

.incr__nav
	flex(mid)
	tr(background )
	br(4px)
	size 40px
	border 1px solid $mark
	background white
	.icon
		size 14px
		fill $mark
	&:hover
		cp()
		background: $mark
		.icon
			fill white
	&:active
		background-color darken($mark,5)
		.icon
			fill white
.incr__val
	flex(mid)
	background white
	size 50px 40px
	font-size 20px
	position relative
	tr(all)
	-webkit-touch-callout none
	-webkit-user-select none
	-khtml-user-select none
	-moz-user-select none
	-ms-user-select none
	user-select none
// incr === end


// slide menu
.slide-block
	+below(640px)
		top 50px
		height: calc(100% - 50px)
	+below(480px)
		width: 100%
	position: fixed
	top 70px
	width: 360px
	tr(all)
	border-right 1px solid $border-color
	height: calc(100% - 70px)
	background: white
	z-index 100
	overflow-y auto
.slide-block--cart
	+below(640px)
		display none!important
	top 0
	height 100vh
.slide-block-wrap
	overflow-y auto
	height: 100%
.slide-block--left
	left 0
	transform translateX(-100%)

.slide-block--right
	right 0
	transform translateX(100%)

.slide-block--open
	transform translateX(0%)

.slide-block--cart
	border-left 1px solid $border-color

.slide-menu__list-el
	display: block
	margin-bottom: 20px
	tr(all)
	color $snow
	font-size: 16px
	font-weight 700
	&:hover
		color red
.body-fix
	position: fixed!important
	overflow-Y: scroll!important
	width:100%!important
// slide menu === end

// basket
.basket-wrap
	f()
	fl()

.basket
	f()
	fl()
	flex-grow 1
	height: 100vh

.basket--false
	f()
	fl()
	height: 100vh
.basket-head
	background #f5f5f5
	padding: 15px
	position relative
	text-align center
.basket-head__title
	@extend .type--md
	font-weight 700
.basket-head__close
	flex(mid)
	br(5px)
	tr()
	cp()
	position absolute
	size 30px
	border 1px solid #b4b4b4
	right: 10px
	top 50%
	margin-top: -15px
	&:hover
		border 1px solid $mark
		.icon
			fill $mark
	.icon
		tr()
		fill #b4b4b4
		size 12px
.basket-empty
	flex(mid)
	fl()
	padding: 20px
	flex-grow 1
.basket-empty-img
	size 100px
	margin-bottom: 20px

.basket-empty__title
	text-align: center
	@extend .type--md
	margin-bottom: 10px
	font-weight: 700

.basket-empty__text
	@extend .type--sm
	text-align: center
	width: 80%
	line-height: 1.6

.basket-list
	position relative
	flex-grow 1
	margin-bottom: 20px
	&:before
		content ''
		position absolute
		width: 100%
		height: 35px
		bottom 0
		left 0
		background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
		z-index 10

.basket-container
	max-height: calc(100vh - 435px)
	position relative
	overflow hidden
	margin-right: 3px
	margin-top: 3px

.basket__el
	+below(768px)
		fw()
		flex(mid)
		fl()
		position: relative
	display flex!important
	flex(between)
	padding: 15px 20px
	outline none!important

.basket__el-info
	f()
	align-items: flex-start
	width: 100%
.basket__img
	size 70px
	br(5px)
	bg-full()
	background-size: contain
	margin-right: 20px

.basket__cont
	width calc(100% - 90px)

.basket__name
	font-weight: 700
	font-size: 14px
	margin-bottom: 5px
	display block
	f()

.basket__delete
	margin-left: auto
	.icon
		cp()
		tr(all)
		size 16px
		fill $gray
		&:hover
			fill $mark

.basket__descr
	font-size: 12px
	line-height: 1.4

.basket__el-change
	flex(between)

.basket__price
	+below(768px)
		margin-top: 20px
		font-size: 20px
	color $dark
	font-weight 700
	white-space nowrap

.basket__weight
	white-space nowrap
	font-size: 12px
.basket-footer
	+below(768px)
		flex(mid)
		fl()
	f()
	align-items: center
	margin-top: 30px

.basket-total
	margin: 0 20px
	padding: 20px
	border-top 1px solid $border-color
	width: 100%

.basket-total-row
	flex(between)
	margin-bottom: 10px
	font-size: 14px
	font-weight: 700

.basket-total__text
	font-size: 15px
	margin-right: 20px

.basket-total__val
	font-size: 18px

.basket-add__el
	br(10px)
	margin-left: 10px
	width: 225px
	height: 125px
	border 1px solid $border-color
	padding: 15px
	&:last-child
		margin-right: 0

.basket-add-head
	font-weight: 700
	padding-left: 15px
	margin-bottom: 15px
	font-size: 14px
.basket-add
	position relative
	margin-top: auto
	&:before
		content ''
		position absolute
		width: 30px
		height: 100%
		bottom 0
		right 0
		background-image linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #ffffff 100%)
		z-index 10
	.slick-prev[aria-disabled="true"]
		display none!important
	.slick-arrow
		fill #626466
		size 16px
	.slick-prev
		left 10px
		z-index 10
	.slick-next
		right 10px
		z-index 10
.basket-add-info
	f()
	height: 100%
.basket-add__img
	size 70px
	bg-full()
	margin-right: 10px
.basket-add-cont
	width calc(100% - 80px)
	f()
	fl()
.basket-add-title
	font-size: 12px
	font-weight: 700
	color black
	margin-bottom: 10px
.basket-add-cost
	font-size: 12px
	font-weight: 700
	margin-bottom: 5px
.basket-add-get
	margin-top: auto
	@extend .btn--light
	@extend .btn--sm
	width: 85px

.slider-control
	size 14px

.basket-get
	padding: 20px
	text-align center
	background: $mark
	color white
	display block
	font-weight 700
// basket === end

// footer
.footer-wrap
	border-top 1px solid $border-color
.footer
	+below(960px)
		fw()
		padding: 20px
		height: auto
	f()
	align-items stretch
	height: 90px
	.pay-row
		+below(960px)
			order 2
			border 0
		+below(480px)
			margin-bottom: 20px
.footer__nav
	+below(960px)
		order 1
		width: 100%
		justify-content: flex-start
		margin-bottom: 20px
	+below(480px)
		fw()
		margin-bottom: 0
	flex(between)
.footer__nav-el
	+below(1024px)
		display none
	margin-right: 20px
	color black
	&:hover
		color $mark
.footer__nav-el--light
	+below(1440px)
		display block
	+below(480px)
		margin-bottom: 20px
	color #AAAAAA
.footer__create
	+below(960px)
		order 3
		border 0
	+below(480px)
		margin-left 0
		padding: 0
	margin-left auto
	flex(mid)
.jq
	flex(mid)
	span
		+below(480px)
			order 2
			display inline-block
			margin-left: 10px
		display inline-block
		margin-right: 20px
// footer === end

// ==== ORDER ====
.order
	+below(968px)
		fw()
	f()
	justify-content:space-between
	align-items streth

.order-cont
	+below(960px)
		fw()
		margin-bottom: 50px
	f()
	justify-content space-between
	align-items: flex-start
	margin-bottom: 100px
	width: 100%

.order-item
	+below(960px)
		margin-bottom: 20px
		width: 100%
	width: 65%

.order__el
	+below(768px)
			fw()
			flex(mid)
			fl()
			position: relative
	display flex!important
	flex(between)
	padding: 10px 0
	outline none!important

.order__el-info
	+below(768px)
		fl()
		justify-content center
		align-items center
	f()
	align-items: flex-start

.order__img
	+below(768px)
			margin-right: 0
			height: 100px
			width: 100px
	size 70px
	br(5px)
	bg-full()
	background-size: contain
	margin-right: 20px

.order__name-text
	+below(768px)
		font-size: 20px
		margin-bottom: 20px
		text-align: center
	@extend .type--md
	tr()
	margin-top: 10px
	margin-bottom: 5px
	font-weight 700
	color $dark
	display block
	&:hover
			color $mark
.order__adds
	+below(768px)
		width: 100%
		text-align center

.order__el-change
	+below(768px)
		width: 100%
		fl()
	f()
	align-items center
	width: 50%

.order__price
	+below(768px)
		margin: 20px 0
		font-size: 20px
		margin-right:initial
		text-align center
	font-weight 700
	@extend .type--md
	white-space nowrap
	margin-right: auto
	margin-left: 10%

.order__delete
	+below(768px)
		position absolute
		top 0
		right: 0
	margin-left: auto
	.icon
		cp()
		tr(all)
		size 16px
		fill black
		&:hover
				fill $mark

.total
	+below(960px)
		width: 100%
	border-radius 20px
	background-color #f5f5f5
	width: 320px
	margin-left auto
	padding: 20px 25px
.total-row
	flex(between)
	margin-bottom: 20px
.total-row__type
	font-weight: 700
.total-row__val
	font-weight: 700
	@extend .type--md
	white-space nowrap
.total-text
	@extend .type--md
	margin-bottom: 10px
	line-height: 1.6
	font-size: 14px
.total-get
	@extend .btn--md
	@extend .btn--mark
	padding: 20px 50px
	width: 100%

.order-add
	+below(1024px)
		grid-template-columns: repeat(3, 1fr)
	+below(640px)
		grid-template-columns: repeat(2, 1fr)
	+below(480px)
		grid-template-columns: 1fr
	display: grid
	grid-gap 40px
	grid-template-columns: repeat(4, 1fr)
	margin-bottom: 80px

// order === end

// nice-select
.nice-select
	br(3px)
	display: block
	color #000000
	font-size 14px
	font-weight 700
	width: 100%
	float none
	.list
		width: calc(100% )
		left 0px
		br(3px)
		border 0px solid $border-color
		border-top 0
		margin-top: 0
		max-height 200px
		overflow-y auto
select.select-beauty
	display: none!important

.element-select
	padding: 20px 0

.nice-select:active, .nice-select.open, .nice-select:focus
	border 1px solid $border-color
// nice-select === end

// form
.order-form
	max-width 640px
	textarea
		width: 100%
		margin-bottom: 40px
	.title--md
		margin-bottom: 30px

.form-cont
	margin-bottom: 30px

.radio-cont
	+below(768px)
		fw()
	.check-el
		width: 100%
		margin-bottom: 20px
		&:last-child
			margin-bottom: 0

.order-form__tab
	f()

.order-form__tab-el
	+below(768px)
		font-size: 16px
	color #6b6b6b
	font-family Roboto
	font-size 20px
	text-align center
	padding: 20px
	width: 50%
	cp()

.order-form__border
	position: relative
	height 5px
	border-radius 2px
	background-color $border-color
	width: 100%
	overflow hidden
	margin-bottom: 40px

.order-form__border-el
	position: absolute
	border-radius 2px
	height: 100%
	width: 50%
	background: $mark
	tr(all)
	left 0
	top 0
	right initial

.order-form__border-el--right
	left 50%

.order-form__tab-container
	display: none
	margin-bottom: 30px

.order-form__tab-container-active
	display: block

.order-form__town
	+below(768px)
		font-size: 16px
	margin-bottom: 30px
	span
		display: inline-block
		padding: 0
		border-bottom 1px dotted #302c2b
		cp()

.order-form-inc
	f()
	align-items:center
	margin-bottom: 40px
	.elements-icr-block
		width: auto

.order-form-inc__text
	margin-right: 20px

// form === end


// LK
.lk
	+below(740px)
		fw()
	f()
	justify-content space-between
	margin-top: 30px
.lk-toolbar
	+below(740px)
		width: 100%
		margin-bottom: 30px
	width: 25%
.lk-toolbar__el
	+below(740px)
		width: 100%
	padding: 20px 25px
	border 1px solid $border-color
	margin-bottom: 5px
	br(4px)
	tr()
	f()
	align-items center
	font-weight: 700
	&:hover
		background: $mark
		color white
		.bonus-val
			color white
.lk-toolbar__el--active
	background: $mark
	color white
	.bonus-val
		color white
.lk-toolbar__el-text
	margin-right: 10px
.bonus-val
	color $mark
	@extend .type--xs
	font-weight 700
	transform translateY(-10px)
.lk-content
	+below(740px)
		width: 100%
	width: 70%
.lk-title
	@extend .type--xl
	font-weight 700
	margin-bottom: 40px
.lk-profile
	+below(740px)
		width: 100%
	+below(640px)
		fw()
	f()
	justify-content space-between
	align-items:flex-start

.lk-profile-info
	+below(740px)
		width: 100%
	width: 60%
.lk-profile-info__el
	margin-bottom: 30px
.lk-profile-info__el-title
	margin-bottom: 10px
	font-weight: 700
//.lk-profile-info__el-val
.lk-profile-nav
	+below(740px)
		width: 100%
		margin-top: 20px
	+below(640px)
		padding: 0
		border-left 0
	width: 40%
	padding: 20px 0 20px 25px
	border-left 1px solid $border-color
.lk-profile-nav__el
	f()
	tr()
	cp()
	align-items center
	margin-bottom: 20px
	&:last-child
		margin-bottom: 0
	&:hover
		color $mark
.lk-profile-nav__el-icon
	margin-right: 20px
	.icon
		size 20px
		fill $mark
//.icon
//.lk-profile-nav__el-text

//.history
.history__el
	margin-bottom: 20px
.history__el-head
	+below(640px)
		fw()
	f()
	cp()
	br(5px)
	padding: 20px
	justify-content space-between
	border 1px solid $border-color
.history__el-head--active

	border 1px solid $mark
	br(5px)
	.history__el-icon
		.icon
			transform rotate(180deg)
.history__el-info
	+below(640px)
		width: 100%
		margin-bottom: 10px
	f()
	align-items center
.history__el-icon
	margin-right: 10px
	.icon
		tr()
		size 16px
		fill black
.history__el-numb
	font-weight:700
	margin-right: 20px
.history__el-date
	color black-light
.history__el-state
	+below(640px)
		width: 100%
		margin-left: 0
	f()
	margin-left auto
	align-items center
.history__el-state-text
	+below(640px)
		display none
	@extend .type--xs
	color #B1B3B4
.history__el-state-val
	f()
	align-items center
.history__el-state-icon
	.icon
		+below(640px)
			margin-left: 0
		size 20px
		fill black
		margin: 0 10px
.history__el-state-info
	font-weight: 700
.history__el-cont
	padding: 30px 0
	display none
.history__el-wrap
	+below(1024px)
		fw()
	f()
	justify-content space-between
.history-list
	+below(1024px)
		width: 100%
		margin-bottom: 20px
	width: 65%
.history-list__el
	f()
	justify-content space-between
	align-items:flex-start
	padding-bottom: 15px
	margin-bottom: 15px
	border-bottom 1px solid $border-color
.history-list__el-img
	+below(480px)
		size 90px
	size 100px
	bg-full()
	background-size contain
.history-list__el-info
	+below(480px)
		width calc(100% - 100px)
	width calc(100% - 120px)
.history-list__el-title
	+below(480px)
		font-size: 16px
	@extend .type--md
	font-weight 700
	margin-bottom: 5px
	line-height: 1.6
.history-list__el-text
	margin-bottom: 15px
	color $gray
.history-list__el-row
	f()
	align-items center
.history-list__el-cost
	+below(480px)
		font-size: 16px
	font-weight:700
	margin-right: 20px
	font-size: 18px
.history-list__el-items
	+below(480px)
		font-size: 16px
	color $gray
.history-list__el-total
	+below(480px)
		font-size: 16px
	@extend .type--md
	font-weight: 700
.history-total
	f()
	margin-top: 30px
.history-total-info
	+below(480px)
		width: 100%
		margin-left: 0
		flex(mid)
		fl()
	bg-full()
	f()
	align-items: center
.history-total-title
	margin-right: 20px
	font-weight: 700
.history-total-val
	@extend .type--xl
	font-weight 700

.history-descr
	+below(1024px)
		width: 100%
	width: 30%
.history-descr-title
	font-weight:700
	margin-bottom: 30px
.history-descr__row
	margin-bottom: 20px
.history-descr__title
	@extend .type--sm
	line-height: 1.6
	font-weight: 700
.history-descr__val
	line-height: 1.6
	font-size: 14px

.bonus-head
	+below(1024px)
		fw()
	f()
	justify-content space-between
	align-items:flex-start
	margin-bottom: 30px
.bonus-banner
	+below(1024px)
		margin-bottom: 20px
	+below(480px)
		width: 100%
.bonus-banner-wrap
	+below(480px)
		width: 100%
	width: 280px
	padding: 25px
	background: $mark
	text-align center
	color white
	br(4px)
//.bonus-banner__text

.bonus-banner__val
	@extend .type--xl
	font-weight 700
	margin: 10px 0
.bonus-banner-descr
	text-align center
	color black-light
	margin-top: 20px
.bonus-info
	+below(1024px)
		width: 100%
	width calc(100% - 300px)

.lk-adress__el
	padding: 25px
	border 2px solid $mark
	margin-bottom: 30px
.lk-adress__type
	color $mark
	@extend .type--md
	font-weight 700
	margin-bottom: 10px
.lk-adress__val
	line-height: 1.8
	margin-bottom: 20px
.lk-adress-footer
	flex(between)
.lk-adress-footer__el
	flex(mid)
	cp()
	&:hover
		span
			color black
	.icon
		margin-right: 10px
		size 16px
	span
		tr(all)
		display: inline-block
		color $gray
.lk-adress-edit
	.icon
		fill $mark
.lk-adress-remove
	.icon
		fill $red

.lk-adress__add
	flex(mid)
	tr(all)
	cp()
	height: 50px
	border 1px solid $snow
	&:hover
		border 1px solid $mark
		span
			color black
	.icon
		size 16px
		fill $mark
		margin-right: 10px
	span
		color $gray
		tr(all)

.history-rating
	f()
	fw()
	margin-top: 10px
	span
		display inline-block
		margin-right: 20px
		color $gray

// LK === end

// rating
.star-el
	margin-right: 3px
	.icon
		fill #d9dadb
		size 20px
		cp()
.star-el--active
	.icon
		fill $mark!important

.star
	f()
// rating === end

// ==== SALE ====
.card-list
	+below(850px)
		grid-template-columns repeat(2, 1fr)
		margin-bottom: 40px
	+below(640px)
		grid-template-columns 1fr
		grid-gap 10px
	display: grid
	grid-gap 30px
	grid-template-columns repeat(4, 1fr)
.card-list__el
	overflow: hidden
	cp()
	&:hover
		.card-list__title
			color $mark
.card-list__img
	padding: 40% 10%
	bg-full()
	position: relative
	overflow: hidden
	br(4px)
.card-list__date
	position: absolute
	left 0
	display: inline-block
	bottom 0
	background: rgba(0, 0, 0, 0.6)
	color white
	font-size: 14px
	z-index 5
	padding: 10px 20px
.card-list__info
	padding: 20px 0
.card-list__title
	@extend .type--md
	tr()
	font-weight: 700
	margin-top: auto
	line-height: 1.4
	margin-bottom: 10px
	display: inline-block
.card-list__decr
	line-height: 1.6
	color #707173
.news-full
	+below(768px)
		fw()
	f()
	align-items: flex-start
	justify-content: space-between
.news-full__img
	+below(768px)
		width: 100%
		margin-bottom: 20px
		padding: 30% 10%
	bg-full()
	br(10px)
	width: 48%
	overflow: hidden
	padding: 20% 10%
.news-full__cont
	+below(768px)
		width: 100%
	width: 48%
// ==== SALE ==== === end

// review
.review
	f()
	justify-content space-between
	align-items: stretch
.review-wrap
	width calc(100% - 320px)
.review-msg
	width: 280px
.msg
	background: #f5f5f5
	br(5px)
	padding: 30px
	flex(mid)
	fl()

.msg__icon
	margin-bottom: 10px
.msg__title
	@extend .type--md
	font-weight 700
	margin-bottom: 10px
.msg__text
	text-align center
	line-height: 1.4
	margin-bottom: 20px
	font-size: 14px

.review__el
	+below(640px)
		padding: 20px
	background-color #ffffff
	margin-bottom: 20px
	padding-bottom: 20px
	border-bottom 1px solid #F5F5F5
.review__el-info
	+below(640px)
		fw()
	f()
	align-items center
	margin-bottom: 10px
.review__el-name
	+below(640px)
		margin-bottom: 10px
	@extend .type--md
	font-weight 700
	margin-right: 20px

.review__el-date
	color $snow
.review__el-text
	line-height: 1.6

.answer
	margin-top: 20px

.answer-head__icon
	margin-bottom: 10px
.answer-head__name
	@extend .type--lg
	font-weight 700
.answer-text
	padding-left: 50px
	p
		&:first-child
			margin-top: 0
		&:last-child
			margin-bottom: 0
.loader
	flex(mid)
	margin: 30px 0



// review === end

//map
.deliver-list
	+below(768px)
		grid-template-columns repeat(1,1fr);
		margin-bottom: 20px
	display: grid
	grid-gap 20px
	grid-template-columns repeat(3,1fr);
	margin-bottom: 50px
.deliver-list__el
	padding: 25px
	br(5px)
	background: white
	border 1px solid $border-color
.deliver-list__el--active
	background: $mark
	.deliver-list__title
		color white
.deliver-list__title
	@extend .type--md
	color $mark
	margin-bottom: 15px
	font-weight: 700
.deliver-list-wrap
	fw()
	f()
	justify-content: space-between
	margin-top: 20px
.deliver-list-col
	+below(1024px)
		width: 100%
	width: 48%
.deliver-list-col__title
	+below(1024px)
		font-size: 14px
	margin-bottom: 20px
	color white
	font-weight: 700
.deliver-list-col__text
	color white
	margin-bottom: 10px
	font-size: 12px
.deliver-list__title-sub
	margin-bottom: 20px
	font-weight: 700
.deliver-list__title-text
	line-height: 1.6

.deliver-map
	+below(768px)
		fw()
	f()
	justify-content: space-between
	align-items:stretch
	margin-bottom: 50px
.deliver-map__item
	+below(768px)
		width: 100%
		margin-bottom: 20px
	width: 66%
.deliver-map__item-el
	+below(768px)
		height: 350px
	background: #f2f2f2
	height: 100%
	br(10px)
.deliver-map__col
	+below(768px)
		width: 100%
	width: 32%
	.title--sm
		margin-bottom: 10px

.deliver-map__col-item
	margin-bottom: 40px
	&:last-child
		margin-bottom: 0px
	padding-top: 20px
	border-top 4px solid $mark
	.book-row
		margin-bottom: 15px
//.deliver-map__col-item--green
.deliver-map__text
	line-height: 1.6
//map

.deliver-map__phone
	@extend .type--md
	margin-top: 20px
	font-weight: 700

.deliver-payment-wrap
	display: inline-block
	margin-top: 20px
.deliver-payment
	f()
	margin-top: 30px
	border 1px solid $border-color
	padding: 5px 10px
	br(10px)
	background: white
	.icon
		size 60px
		margin-right: 10px

.deliver-inform
	max-width 800px

.market-row
	display: grid
	grid-gap 20px
	grid-template-columns: repeat(auto-fill, minmax(12rem,1fr))
	margin-bottom: 15px
	border-bottom 1px solid #f5f5f5
	padding-bottom: 15px
	padding-right: 10px
// map === end

// about
.banner
	bg-full()
	padding: 15% 10%

.about
	img
		max-width fit-content!important
		margin: 30px auto
.team
	display: grid
	grid-gap 20px
	grid-template-columns: repeat(auto-fill, minmax(8rem,1fr))

.team__el
	bg-full()
	padding: 50% 10%
	br(10px)
	overflow hidden
	position relative
	bsh-hover()
	tr()
	cp()
	&:hover
		.team__el-filter
			transform translateY(0)

.descr-info
	width: 60%
.descr-wrap
	f()
	justify-content space-between

.descr-text
	width: 35%

.team__el-filter
	flex(mid)
	f()
	tr()
	position absolute
	width: 100%
	height: 100%
	left 0
	top 0
	background: #111111ba
	padding: 5px
	color white
	transform translateY(-200%)
.team__el-name
	text-align center
	font-size: 14px
	line-height: 1.6
	font-weight: 700

.about-wrap
	display: grid
	grid-gap 0
	grid-template-columns: repeat(2, 1fr)
	margin-bottom: 30px
.about-img
	bg-full()
	padding: 30% 10%
.about-text
	padding: 40px
	line-height: 1.6
	font-size: 14px
	flex(mid)
	fl()
	p
		&:first-child
			margin-top: 0
		&:last-child
			margin-bottom: 0


// about === end

.nicescroll-rails
	z-index 1!important

// modal gallary
.card-wrap
	+below(768px)
		fw()
	f()
	justify-content space-between

.card-img
	+below(768px)
		width: 100%
	width: 50%
	.gallery-slider-wrap
		margin-top: 0

.gallery__el
	bg-full()
	padding: 50% 10%
.gallery__el-nav
	bg-full()
	cp()
	padding: 40% 10%
	br(5px)

.gallery-slider-nav
	padding: 0 15px 15px 15px
	.slick-slide
		+below(480px)
			margin: 0 3px
		margin: 0 10px
	.slick-current
		tr()
		opacity: .4
	.slick-track
		margin-left: 0px
	.slick-list
		margin: 0 -10px
.gallery-slider
	margin-bottom 10px
// modal gallary === end



.card-descr
	+below(768px)
		width: 100%
	+below(480px)
		padding: 15px
	width: 50%
	padding: 30px

.card-title
	@extend .type--md
	font-weight 700
	margin-bottom: 10px

.card-info
	color $snow
	margin-bottom: 30px
.card-text
	line-height: 1.6
	margin-bottom: 30px
.card-get
	+below(480px)
		fw()
	f()
	align-items center
	margin-bottom: 30px
.card-cost
	+below(480px)
		font-size: 32px
		text-align center
	font-weight: 700
	margin-right: 20px
	@extend .type--md

.card-weight
	font-size: 14px
	margin-right: 20px
.card-incr
	+below(480px)
		width: 100%
		margin-top: 20px
		margin-left: 0
		.incr
			justify-content: flex-start
	+below(768px)
		margin-right: 0
	margin-left: auto
	margin-right: 10%
.card-rating
	f()
	align-items center
	margin-bottom: 20px
	.icon
		fill $mark
		size 20px
		margin-right: 10px

.card-rating__val
	color $gray

.structure
	+below(480px)
		grid-template-columns: repeat(2, 1fr)
	display: grid
	grid-gap 10px
	grid-template-columns: repeat(4, 1fr)
	margin-bottom: 10px
.structure__el
	padding: 10px 5px
	border 1px solid $border-color
	br(10px)
	flex(mid)
	fl()
.structure__el-name
	font-size: 12px
	color $snow
	margin-bottom: 5px
.structure-text
	+below(480px)
		text-align center
	text-align: right
	color $snow
	@extend .type--sm
