include block_html/_style.pug
include block_html/_include.pug

.page
	+header()
	.banner(style="background-image:url('img/banner-1.jpg')")
	.content
		.main-cont
			.about.text
				h1.title История
				.about-wrap
					.about-img(style="background-image:url('img/about-1.jpg')")
					.about-text
						p Первая фруктово-овощная лавка «Морковь» открылась 3 сентября 2013 года на ЮМР в жилом комплексе Новый Город, по адресу бульвар Клары Лучко, 10. Все начало развиваться с маленькой идеи создать «Магазин Мечты», в котором была бы продумана каждая деталь, любая мелочь. Потребовалось целое лето, для того, что бы «обкатать» все идеи и воплотить их в жизнь. И вот наконец, в сентябре 2013 года магазин открылся, на Юбилейном в ЖК "Новый город".
					.about-text
						p Первое время приходилось работать в режиме «нон-стоп», с 4 утра и до 22 вечера, так как именно в это время с утра собираются свежие овощи, ягоды и зелень! А после закупа скорее в магазин, к открытию. И в таком нелегком темпе 8 месяцев подряд без единого выходного. Но, что удивительно не чувствовалось никакой усталости! Ее затмевало удовольствие от процесса работы, от познания чего - то нового, от встреч с довольными покупателями, от их благодарных отзывов и советов, от мысли о том, что каждый день работа улучшается и вектор выбран в правильном направлении!)
					.about-img(style="background-image:url('img/about-2.jpg')")

				.descr-wrap
					.descr-info
						p
							strong Признаться, в начале работы было сложно даже отличать кинзу от петрушки, а сейчас известны сроки созревания каждого сорта и сортовые особенности кинзы!
						p С самого открытия наш магазин отличался своим необычным дизайном, широким ассортиментом и высоким качеством обслуживания. И очень скоро, благодаря каждодневной, усиленной работе нашей дружной, трудолюбивой и приветливой команды полюбился всем жителям "Нового города". Это дало уверенность двигаться дальше и радовать еще больше покупателей!

						p Наша специализация - розничная торговля овощей, зелени, фруктов, ягод, специй, орехов и сухофруктов из разных стран мира. Важным составляющим нашей работы является "эталонное" обслуживание покупателей и знание всего ассортимента. Мы стремимся обеспечить покупателя качественным продуктом и информацией о его происхождении и способах приготовления.
					.descr-text.text
						h4 Наши магазины
						ul
							li ул. Лузана 23
							li ул. Кубанская набережная 33
							li ул. Клары Лучко 10
							li ул. Яна Полуяна 47/2
							li ул. Красная 176/5
							li ул. Восточно-Кругликовская 18
							li ул. Красная 17

				h2 Наша команда
				.descr-wrap
					.descr-info
						.team
							- for (var i=0;i<6;i++)
								.team__el(style="background-image:url('img/personal-1.jpg')")
									.team__el-filter
										.team__el-name Александра Венедиктова
								.team__el(style="background-image:url('img/personal-2.jpg')")
									.team__el-filter
										.team__el-name Александра Венедиктова
					.descr-text.text
						p Наши продавцы — настоящая команда мечты, которой мы очень дорожим и гордимся. Они знают все о товаре, представленном в магазинах, и сделают все, чтобы вы остались в восторге от посещения и покупок у нас!

						p Если вы разделяете эти ценности и хотите стать частью нашей большой комады — пожалуйста, пришлите заполненное резюме нам на почту #[a(href="#") morkovtogo@morkov.me ]

+footer()
include ./block_html/_script.pug



