mixin footer()
	//block footer
	.footer-wrap
		.main-cont
			.footer
				.footer__nav
					a(href="#").footer__nav-el Акции
					a(href="#").footer__nav-el Доставка и оплата
					a(href="#").footer__nav-el Отзывы
					a(href="#").footer__nav-el О нас
					a(href="#").footer__nav-el.footer__nav-el--light Публичная оферта
					a(href="#").footer__nav-el.footer__nav-el--light Политика конфиденциальности
				.footer__create
					a(href="#").jq
						span Разработка сайта
						img(src="img/jq.svg", alt="")

	//block footer end